<header class="site-header" role="banner">
  <div class="banner-inner">
    <div class="wrapper banner-inner-title">
      {% assign default_paths = site.pages | map: "path" %}
      {% assign page_paths = site.header_pages | default: default_paths %}
      <!-- <img src="/images/me.jpg" class="banner-pic"></img> -->
      <!-- <a class="banner-site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a> -->
      <h1 style="font-size: 35px; font-weight: 400; margin-bottom: 0px;">What Is Real?</h1>
      <div style="font-size: 16px;">
        <div>
          It is far better to grasp the universe as it really is than to persist in delusion, however satisfying and reassuring.
        </div>
        <div>
          <div style="font-weight: 400;">
            Carl Sagan
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
