---
layout: default
---
<div style="display: grid; width: 1000px; margin-left: auto; margin-right: auto; grid-template-columns: 320px 320px 320px; grid-column-gap: 2em; grid-row-gap: 2em;">
  {% for post in site.posts %}
    <div style="  backdrop-filter: blur(7px); width: 320px; height: 320px; background-color: rgba(0, 0, 0, 0.7); color: white; border-radius: 7px 7px; box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.5);">
      <div onclick="location.href='{{ post.url | relative_url }}';" style="width: 320px; height: 240px; border-radius: 7px 7px 0 0;background-image: url({{post.image}}); background-size: cover; background-position: center; cursor: pointer;">
      </div>        
      <div style="height: 80px; font-size: 13px; text-align: center; border-radius: 7px; display: flex; align-items: center; justify-content: center;">
        <span style="margin: 5px;">{{ post.title | escape }}</span>
      </div>
    </div>
  {% endfor %}
</div>

<!-- <ul class="post-list">
  {% for post in site.posts %}
    <li>
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}

      <h2 style="font-size: 24px;">
        {{ post.title | escape }}
      </h2>
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <div style="overflow: hidden;">
        <div class="hover" onclick="location.href='{{ post.url | relative_url }}';" class-name="img-responsive"
          style="height:350px; cursor: pointer; margin-top: 10px; background-position: center; background-size: cover; background-image: url({{post.image}}); margin-bottom: 12px;">
        </div>
      </div>
      <div>
        {{ post.description }}
      </div>
      <div style="width: 100%; margin-top: 15px; height: 2px; display: flex; flex-direction: column; align-items: center; justify-items: center;">
        <div style="height: 2px; width: 35px; display: inline-block; background: red; border: 1px;"></div>
      <div>
    </li>
  {% endfor %}
</ul> -->
