---
layout: default
---

<div class="home">
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}

        <h2 style="font-size: 24px;">
          {{ post.title | escape }}
        </h2>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <div style="overflow: hidden;">
          <div class="hover" onclick="location.href='{{ post.url | relative_url }}';" class-name="img-responsive"
            style="height:350px; cursor: pointer; margin-top: 10px; background-position: center; background-size: cover; background-image: url({{post.image}}); margin-bottom: 12px;">
          </div>
        </div>
        <div>
          {{ post.description }}
        </div>
      </li>
    {% endfor %}
  </ul>

</div>
